#Ignore all
*.*
*

#exclude directory structure
!app/
app/*

!var/
var/*

!var/langs/
var/langs/*

!var/langs/en/
var/langs/en/*

!var/langs/en/addons/
var/langs/en/addons/*

!app/addons/
app/addons/*

!app/addons/gls/
!app/addons/gls/**

!var/langs/en/addons/gls.po

!design/
design/*

!design/backend/
design/backend/*

!design/backend/media/
design/backend/media/*

!design/backend/templates/
design/backend/templates/*

!design/backend/templates/addons/
design/backend/templates/addons/*

!design/backend/media/images/
design/backend/media/images/*

!design/backend/media/images/addons/
design/backend/media/images/addons/*

!design/backend/templates/addons/gls/
!design/backend/templates/addons/gls/**

!design/backend/media/images/addons/gls/
!design/backend/media/images/addons/gls/**

!design/backend/templates/addons/views/
design/backend/templates/addons/views/*

!design/backend/templates/addons/views/shippings/
design/backend/templates/addons/views/shippings/*

!design/backend/templates/addons/views/shippings/components/
design/backend/templates/addons/views/shippings/components/*

!design/backend/templates/addons/views/shippings/components/services/
!design/backend/templates/addons/views/shippings/components/services/gls.tpl
design/backend/templates/addons/views/shippings/components/services/*

!js/
js/*

!js/addons/
js/addons/*

!js/addons/gls/
!js/addons/gls/**

!.gitignore
!README.md